@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-inline {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

:root {
  --primary-text-color: #757575;
  /*загальний текст*/
  --title-text-color: #212121;
  /*заголовки*/
  --acent-color: #2196f3;
  /*колір наведення*/
  --black-color: #000000;
  /*чорний*/
  --primary-bg-color: #ffffff;
  /*білий*/
  --footer-bgc-color: #2f303a;
  /*фон футера*/
  --btn-service-color: rgba(0, 0, 0, 0.25);
  /*кнопка заказать услугу*/
  --our-team-bgc-color: #f5f4fa;
  /*колір фону нашої команди*/
  --bgc--hoverfocus-btnservice-color: #188ce8;
  /*ховер,фокус кнопки заказать услугу*/
  --team-soc-icon-color: #afb1b8;
  /*колір іконок соцальних мереж*/
  --team-soc-link-hover-color: #2196f3;
  /*колір іконок ховеру-фокусу*/
  --footer-bg-icon-color: rgba(255, 255, 255, 0.1);
  --hover-duration: 250ms;
  --hover-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .portfolio-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-container {
    max-width: 1200px;
  }
}

.button {
  background-color: var(--primary-bg-color);
}

.btn__filter {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  border-radius: 4px;
  border: none;
  transition: color var(--hover-duration) var(--hover-time-function), background-color var(--hover-duration) var(--hover-time-function), box-shadow var(--hover-duration) var(--hover-time-function);
  color: var(--title-text-color);
  background-color: var(--our-team-bgc-color);
}
.btn__filter:hover, .btn__filter:focus {
  background-color: var(--acent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .btn {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    margin-bottom: 50px;
  }
}

.portfolio-button {
  margin-bottom: 50px;
}

.btn__li:not(:last-child) {
  margin-right: 8px;
}

.btn__li {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .btn__li {
    margin-bottom: 0px;
  }
}

.btn-service {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: 0px;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  transition: background-color var(--hover-duration) var(--hover-time-function);
  background-color: var(--acent-color);
  color: var(--primary-bg-color);
}
.btn-service:hover, .btn-service:focus {
  background-color: var(--bgc--hoverfocus-btnservice-color);
}

.sucscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0px;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  transition: background-color var(--hover-duration) var(--hover-time-function);
  margin-left: 12px;
  background-color: var(--acent-color);
  color: var(--primary-bg-color);
  padding-left: 29px;
  padding-right: 13px;
}
.sucscribe-button:hover, .sucscribe-button:focus {
  background-color: var(--bgc--hoverfocus-btnservice-color);
}

.button-icon {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgc-color);
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .footer .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .sucscribe-form {
    display: flex;
  }
}

.input-button {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .input-button {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .input-button {
    display: flex;
    align-items: baseline;
    margin-left: 93px;
    margin-top: 0px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 480px) {
  .header {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.studio {
  color: var(--title-text-color);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  color: var(--title-text-color);
}
.header-nav .item {
  align-items: center;
}
.header-nav .item + .item {
  margin-left: 50px;
}
.header-nav .link.current {
  color: var(--acent-color);
}
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.st-link,
.pf-link,
.kon-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--hover-duration) var(--hover-time-function);
  color: var(--title-text-color);
}

.a {
  display: block;
}

.st-link {
  position: relative;
}
.st-link.current {
  color: var(--acent-color);
}
.st-link:hover, .st-link:focus {
  color: var(--acent-color);
}

.pf-link {
  position: relative;
}
.pf-link .current {
  color: var(--acent-color);
}
.pf-link:hover, .pf-link:focus {
  color: var(--acent-color);
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  background-color: var(--acent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.kon-link:hover,
.kon-link:focus {
  color: var(--acent-color);
}

.js-open-menu {
  margin-left: auto;
  border: none;
}
@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.js-close-menu {
  display: block;
  margin-left: auto;
  border: none;
  margin-bottom: 8px;
  padding: 0;
}

.js-menu-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding-top: 21px;
  padding-bottom: 48px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.is-open {
  transform: translateX(0);
}

.js-menu-container .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-tel {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact {
  margin-bottom: 64px;
}

.mob-social {
  display: flex;
}

.mob-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
  color: #2196f3;
}

.mob-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 500ms, visibility 500ms;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop .is-hidden .modal {
  transform: scale(0.5) rotate(-290deg);
}

.modal {
  position: absolute;
  min-height: 581px;
  width: 528px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transition: transform 300ms;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  background-color: var(--primary-bg-color);
}

.close-btn-icon {
  fill: var(--black-color);
  transition: fill var(--hover-duration) var(--hover-time-function);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
}
.modal-close-btn:hover .close-btn-icon {
  fill: var(--acent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 448px;
  height: 40px;
  left: 576px;
  top: 314px;
  margin-top: 4px;
  padding: 12px 35px;
  outline: none;
  transition: border-color var(--hover-duration) var(--hover-time-function);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-input:focus {
  border-color: var(--acent-color);
}
.modal-input:hover {
  border-color: var(--acent-color);
}
.modal-input:focus + .input-icon {
  fill: var(--acent-color);
}
.modal-input:hover + .input-icon {
  fill: var(--acent-color);
}

.modal-input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--hover-duration) var(--hover-time-function);
}

.modal-btn {
  outline: none;
  display: flex;
  align-items: center;
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: var(--primary-bg-color);
  background-color: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color var(--hover-duration) var(--hover-time-function), background-color var(--hover-duration) var(--hover-time-function);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--bgc--hoverfocus-btnservice-color);
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-comment {
  display: block;
  width: 448px;
  height: 120px;
  resize: none;
  left: 576px;
  top: 314px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-comment:focus {
  border: 1px solid var(--acent-color);
  outline: none;
}
.modal-comment:hover {
  border: 1px solid var(--acent-color);
  outline: none;
}

.policy-span {
  color: var(--acent-color);
  text-decoration: underline;
}

.check-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 8px;
}

.input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.input-check:checked + .check-text::before {
  background-color: var(--acent-color);
  border: none;
  background-image: url(../img2/checkbox-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-icon {
  position: absolute;
  transform: translateY(-120%);
  fill: var(--primary-bg-color);
}

.portfolio .items {
  margin-bottom: 30px;
}
.portfolio .items:nth-child(3n) {
  margin-right: 0px;
}
.portfolio:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
@media screen and (min-width: 480px) {
  .portfolio {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio .items {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .items {
    flex-basis: calc(33.3333333333% - 30px);
    margin-left: 30px;
  }
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--hover-duration) var(--hover-time-function);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__items:hover .portfolio__text {
  transform: translateY(0%);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--hover-duration) var(--hover-time-function);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 55;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-bg-color);
}

.cards {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

@media screen and (min-width: 768px) {
  .modify-cards {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .modify-cards {
    padding-bottom: 20px;
  }
}

.name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.names__text {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .modify-text {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .modify-text {
    padding-bottom: 0;
  }
}

.business {
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
  background-color: var(--footer-bgc-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .business-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .business-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .business-container {
    max-width: 1200px;
  }
}

.business-text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1, 61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-bg-color);
}
@media screen and (min-width: 1200px) {
  .business-text {
    font-size: 44px;
    line-height: 1.36;
  }
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}

.header-icon {
  display: inline-block;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill var(--hover-duration) var(--hover-time-function);
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 480px) {
  .header {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.studio {
  color: var(--title-text-color);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  color: var(--title-text-color);
}
.header-nav .item {
  align-items: center;
}
.header-nav .item + .item {
  margin-left: 50px;
}
.header-nav .link.current {
  color: var(--acent-color);
}
@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.st-link,
.pf-link,
.kon-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--hover-duration) var(--hover-time-function);
  color: var(--title-text-color);
}

.a {
  display: block;
}

.st-link {
  position: relative;
}
.st-link.current {
  color: var(--acent-color);
}
.st-link:hover, .st-link:focus {
  color: var(--acent-color);
}

.pf-link {
  position: relative;
}
.pf-link .current {
  color: var(--acent-color);
}
.pf-link:hover, .pf-link:focus {
  color: var(--acent-color);
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  background-color: var(--acent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.kon-link:hover,
.kon-link:focus {
  color: var(--acent-color);
}

.js-open-menu {
  margin-left: auto;
  border: none;
}
@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.js-close-menu {
  display: block;
  margin-left: auto;
  border: none;
  margin-bottom: 8px;
  padding: 0;
}

.js-menu-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding-top: 21px;
  padding-bottom: 48px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.is-open {
  transform: translateX(0);
}

.js-menu-container .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-tel {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact {
  margin-bottom: 64px;
}

.mob-social {
  display: flex;
}

.mob-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
  color: #2196f3;
}

.mob-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.contact {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .contact .item + .item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .contact .item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .contact .item {
    display: none;
  }
}

.email {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--hover-duration) var(--hover-time-function);
  color: var(--primary-text-color);
}
.email:hover, .email:focus {
  color: var(--acent-color);
}
.email:hover .header-icon {
  fill: var(--acent-color);
}
.email:focus .header-icon {
  fill: var(--acent-color);
}
@media screen and (min-width: 1200px) {
  .email {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.tel {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--hover-duration) var(--hover-time-function);
  color: var(--primary-text-color);
}
.tel:hover, .tel:focus {
  color: var(--acent-color);
}
.tel:hover .header-icon {
  fill: var(--acent-color);
}
.tel:focus .header-icon {
  fill: var(--acent-color);
}
@media screen and (min-width: 1200px) {
  .tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.studio-footer {
  color: var(--primary-bg-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}

.email-footer,
.tel-footer {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-footer-li {
  margin-bottom: 8px;
}

.footer-icon {
  display: block;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-icon {
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 70px;
  }
}

.go {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.go-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--footer-bg-icon-color);
}
.go-item + .go-item {
  margin-left: 10px;
}

.go-list {
  display: flex;
  margin-bottom: 60px;
}

.go-footer-icon {
  fill: var(--team-soc-icon-color);
}

.go-footer-icon {
  fill: var(--primary-bg-color);
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.footer-adress {
  margin-bottom: 8px;
}

.footer-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--hover-duration) var(--hover-time-function);
}
.footer-link:hover {
  background-color: var(--bgc--hoverfocus-btnservice-color);
}
.footer-link:focus {
  background-color: var(--bgc--hoverfocus-btnservice-color);
}
.footer-link:focus .go-footer-icon {
  fill: var(--primary-bg-color);
}
.footer-link:hover .go-footer-icon {
  fill: var(--primary-bg-color);
}

.email-text {
  display: inline-flex;
  outline: none;
  min-width: 320px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bgc-color);
}
.email-text::placeholder, .email-text:focus-visible {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .email-text {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .email-text {
    width: 358px;
    margin-bottom: 0px;
  }
}

.sucscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
}

@media screen and (min-width: 480px) {
  .work {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .work {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    max-width: 1200px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .benefits .work {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits .work {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .benefits .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .li-item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .li-item {
    flex-basis: calc(25% - 30px);
    margin-left: 30px;
  }
}

.li-div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: var(--our-team-bgc-color);
  margin-bottom: 30px;
}

.list-text {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.list-text .description-text {
  width: 270px;
}
@media screen and (min-width: 768px) {
  .list-text {
    text-align: left;
  }
}

.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.our-work {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .our-work .container {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .our-work .container {
    max-width: 1200px;
  }
}

.our-work-list .link {
  display: flex;
}

.our-work-list .list + .list {
  margin-left: 30px;
}

.our-work-top-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
}

.our-work-wrap {
  transform: translateY(0%);
}

.about-us {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 480px) {
  .team {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    max-width: 1200px;
  }
}

.our-team {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .our-team {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team .link {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team .link {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team-name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.bcg-our-team {
  background-color: var(--our-team-bgc-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .bcg-our-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .bcg-our-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .bcg-our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.profession-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--hover-duration) var(--hover-time-function);
}
.team-soc-link:hover {
  background-color: var(--bgc--hoverfocus-btnservice-color);
}
.team-soc-link:focus {
  background-color: var(--bgc--hoverfocus-btnservice-color);
}
.team-soc-link:focus .team-soc-icon {
  fill: var(--primary-bg-color);
}
.team-soc-link:hover .team-soc-icon {
  fill: var(--primary-bg-color);
}

.team-soc-icon {
  fill: var(--team-soc-icon-color);
  transition: fill var(--hover-duration) var(--hover-time-function);
}

.team-list {
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    flex-basis: calc(25% - 30px);
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    margin-left: 30px;
  }
}

@media screen and (min-width: 480px) {
  .client .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .client .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .client .container {
    max-width: 1200px;
  }
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
@media screen and (min-width: 480px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.client__item {
  width: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .client__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc(16.6666666667% - 30px);
    margin-bottom: 0px;
  }
}

.client-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .client-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.client-title-margin {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client-title-margin {
    margin-bottom: 50px;
  }
}

.clients-link {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--team-soc-icon-color);
  border-radius: 4px;
  transition: fill var(--hover-duration) var(--hover-time-function), border var(--hover-duration) var(--hover-time-function);
  fill: var(--team-soc-icon-color);
}
.clients-link:hover .clients__logo {
  fill: var(--acent-color);
}
.clients-link:focus .clients__logo {
  fill: var(--acent-color);
}
.clients-link:hover {
  fill: var(--acent-color);
  border: 1px solid var(--acent-color);
}

.clients__logo {
  transition: fill var(--hover-duration) var(--hover-time-function);
}

.client-item-margin + .client-item-margin {
  margin-left: 30px;
}/*# sourceMappingURL=main.css.map */