.address {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: var(--primary-bg-color);
  }
  
  .address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: var(--primary-bg-color);
  }

  .footer-adress {
    margin-bottom: 8px;
  }



 
  