.email-footer,
  .tel-footer {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
  }
  // .email-footer {
  //   margin-bottom: 9px;
  // }

  .email-footer-li {
    margin-bottom: 8px;
  }