.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.header-container {
  @media screen and (min-width: 768px) {
    max-width: 768px;

    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;

    margin-left: auto;
    margin-right: auto;
  }
}

.studio {
  color: var(--title-text-color);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  color: var(--title-text-color);

  & .item {
    align-items: center;
  }

  & .item + .item {
    margin-left: 50px;
  }

  & .link.current {
    color: var(--acent-color);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.st-link,
.pf-link,
.kon-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--hover-duration) var(--hover-time-function);

  color: var(--title-text-color);
}

.a {
  display: block;
}

.st-link {
  position: relative;

  &.current {
    color: var(--acent-color);
  }

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.pf-link {
  position: relative;

  & .current {
    color: var(--acent-color);
  }

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  background-color: var(--acent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.kon-link:hover,
.kon-link:focus {
  color: var(--acent-color);
}

.js-open-menu {
  margin-left: auto;
  padding: 0;
  border: none;
  &:hover,
  &:focus {
    fill: var(--acent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.js-close-menu {
  display: block;
  margin-left: auto;
  border: none;
  margin-bottom: 8px;
  padding: 0;
  &:hover,
  &:focus {
    fill: var(--acent-color);
  }
}

.js-menu-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffff;
  width: 100vw;
  height: 101vh;
  padding-top: 21px;
  padding-bottom: 48px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.is-open {
  transform: translateX(0);
}

.js-menu-container .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: auto;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;

  color: #212121;
}

.mob-tel {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact {
  margin-bottom: 64px;
}

.mob-social {
  display: flex;
}

.mob-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-right: 10px;
  color: #2196f3;
}
.mob-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mob-header-nav {
  & .link.current {
    color: var(--acent-color);
  }
}
