.header-icon {
    display: inline-block;
    margin-right: 10px;
  
    fill: var(--primary-text-color);
    transition: fill var(--hover-duration) var(--hover-time-function);
  }
  
  // .email:hover .header-icon {
  //   fill: var(--acent-color);
  // }
  // .email:focus .header-icon {
  //   fill: var(--acent-color);
  // }
  // .tel:hover .header-icon {
  //   fill: var(--acent-color);
  // }
  // .tel:focus .header-icon {
  //   fill: var(--acent-color);
  // }