.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 500ms, visibility 500ms;

  background-color: rgba(0, 0, 0, 0.2);

  & .is-hidden .modal {
    transform: scale(0.5) rotate(-290deg);
  }
}

.modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 40px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transition: transform 300ms;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  background-color: var(--primary-bg-color);

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.close-btn-icon {
  fill: var(--black-color);
  transition: fill var(--hover-duration) var(--hover-time-function);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);

  &:hover .close-btn-icon {
    fill: var(--acent-color);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

// .modal-field {
//   margin-bottom: 10px;
// }

.modal-input {
  width: 100%;
  height: 40px;
  left: 576px;
  top: 314px;
  margin-top: 4px;
  padding: 12px 35px;
  outline: none;
  transition: border-color var(--hover-duration) var(--hover-time-function);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    border-color: var(--acent-color);
  }

  &:hover {
    border-color: var(--acent-color);
  }

  &:focus + .input-icon {
    fill: var(--acent-color);
  }

  &:hover + .input-icon {
    fill: var(--acent-color);
  }
}

.modal-input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--hover-duration) var(--hover-time-function);
}

.modal-btn {
  outline: none;
  display: flex;
  align-items: center;
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border: none;

  color: var(--primary-bg-color);
  background-color: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color var(--hover-duration) var(--hover-time-function),
    background-color var(--hover-duration) var(--hover-time-function);

  &:hover,
  &:focus {
    background-color: var(--bgc--hoverfocus-btnservice-color);
  }
}

.modal-label {
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  left: 576px;
  top: 314px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    border: 1px solid var(--acent-color);
    outline: none;
  }
  &:hover {
    border: 1px solid var(--acent-color);
    outline: none;
  }
}

.policy-span {
  color: var(--acent-color);
  text-decoration: underline;
}

.check-text {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  @media screen and (max-width: 479px) {
    flex-wrap: wrap;
  }

  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 3px;
    margin-right: 8px;
  }
}

.input-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .check-text::before {
    background-color: var(--acent-color);
    border: none;
    background-image: url(../images/checkbox-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.checkbox-icon {
  position: absolute;
  transform: translateY(-120%);

  fill: var(--primary-bg-color);
}
