.our-work {
  padding-top: 0px;
  @media screen and (min-width: 1200px) {
    // padding-bottom: 94px;
  }
}

.our-work .container {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.our-work-list .link {
  display: flex;
}

.our-work-list .list + .list {
  margin-left: 30px;
}

.our-work-top-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
}

.our-work-wrap {
  transform: translateY(0%);
}

.about-us {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

