.sucscribe-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  
    color: var(--primary-bg-color);
  }