p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-inline {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
